migrations2/
db.sqlite3
venv
*.pyc
**migrations2
**/venv
/venv
migrations2/
migrations2
staticfiles
.env
.env-live
/.env-live
**.vscode
.vscode
/.vscode
.idea/
**/workspace
.vagrant/
Vagrantfile
celerybeat-schedule
celerybeat.pid
".idea/*" 